* {
	margin: 0;
	padding: 0;
}
.contact-details,
.contact-form-container {
	width: 50%;
}
.contact-details {
	border-right: 1px dashed #ececec;
    padding-right: 20px;
}

.contact-form-container {
    padding-left: 20px;
}
.contact-details ul li {
	display: flex;
	justify-content: space-between;
}

.contact-details-item {
	display: flex;
}

.contact-details-item span {
	margin-right: 5px;
}

.contact-form-container {
	font-size: 1.2rem;
}

.contact a:hover {
	font-family: "Teachers", sans-serif;
	color: #bb8493;
}

.btn-contact-form {
	background-color: #49243e;
	font-size: 1.2rem;
	color: #bb8493;
}

.btn-contact-form:hover {
	color: #dbafa0;
}

@media (max-width: 768px) {
	.contact-wrapper {
		flex-direction: column;
	}

	.contact-details,
	.contact-form-container {
		width: 100%;
	}
    .contact-details {
        border-right: none;
        border-bottom: 1px dashed #ececec
    }
    .contact-details{
        padding: 0 0 20px 0;
    }
    .contact-form-container {
        padding: 20px 0 0 0;
    }
}
