header {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: 49243E;
	display: flex;
  padding: 25;
}

header a {
  color: BB8493;
  font-size: 30px;
  padding: 25px;
  font-family: "Teachers", sans-serif;
  justify-content: space-evenly;
}


.Header .nav {
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-evenly;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .Header img {
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: 100px;
  }

  
  .Header .menu-icon {
    display: none;
    cursor: pointer;
    color: BB8493;
  }
  
  .Header .custom-dropdown-menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .Header a:hover {
    color: DBAFA0;
  }

  
  @media (max-width: 768px) {
    .Header .nav img {
      height: 30px;
    }
  
    .Header .custom-dropdown-menu {
      display: none;
    }
  
    .Header .menu-icon {
      display: block;
    }
  
    .Header .menu-icon-container {
      position: relative;
    }
  
    .Header .display-mobile-menu {
      background-color:704264;
      display: block;
      width: 100%;
      position: fixed;
      top: 115px;
      left: 0;
    }
  }

  .Header .display-mobile-menu a {
    font-size: 25px;

  }