
* {
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: "Teachers", sans-serif;
	background-color: white;
}

h1, h2, h3, h4 {
	font-family: "Teachers", sans-serif;
	font-weight: 900;
	font-size: 1.5rem;

}

p, li {
	font-family: "Teachers", sans-serif;
	font-size: 1.2rem;
	
}

main {
	flex-grow: 1;
	padding: 10px;
  }


footer {
	background-color: #49243E;
	position: bottom;
	bottom: 0;
	z-index: 2;
	display: flex;
  	padding: 10;
	justify-content: center;
	text-align: center;
} 

footer a {
	font-family: "Teachers", sans-serif;
	color: #BB8493;
  }

footer a:hover {
	color: #DBAFA0;
}

h2 {
	justify-content: center;
}

.border {
	border-width: 15px;
	border-radius: .375rem;
}


.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.image img{
	max-width: 100%;
}


